body,
html {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  text-align: center;
  background-color: #ccc;
}

.container {
  background-color: rgb(139, 168, 187);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
